*{
    padding: 0%;
    margin: 0%;
}
.main{
    position: relative;
    width: 800px;
    height: 600px;
    border-style: solid;
    border-color: beige;
    margin: 0 auto;
}
#menu{
    width: 200px;
    height: 600px;
    position: absolute;
    left: 0;
    border-right-color: beige;
    border-right-style: solid;
}
#menu>div{
    padding: 10px 0;
    margin: 20px 20px;
    text-align: center;
    border-style: solid;
    border-color: beige;
    border-radius: 20px;
    color: burlywood;
    cursor: pointer;
}
#game{
    position:absolute;
    width: 600px;
    height: 600px;
    right: 0%;
}
#game>div{
    width: 28px;
    height: 13px;
    background-color: rgb(214, 219, 214);
    position: absolute;
}
#bandiv{
    background: rgb(128, 103, 91) !important;
    left: 266px;
    top: 500px;
    height: 13px;
    position: absolute;
}
#round{
    width: 20px  ;
    height: 20px  ;
    border-radius: 50%;
    background: burlywood  ;
    position: absolute;
    top: 400px;
    left: 280px;
}
#explain_two{
    position:absolute;
    width: 600px;
    height: 600px;
    right: 0%;
    display: none;
    background: rgb(245, 245, 220,0.3);
     
}
.explain_text{
    color: burlywood;
    text-align: center;
    line-height: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#canle{
    width: 70px;
    height: 40px;
    position: absolute;
    color: burlywood;
    cursor: pointer;
    text-align: center;
    border-style: solid;
    border-color: beige;
    line-height: 40px;
    border-radius: 20px;
    left: 50%;
    margin-left: -35px;
    top: 200px;
}
#game_fail{
    position:absolute;
    width: 600px;
    height: 600px;
    right: 0%;
    display: none;
}
.fail{
    position: absolute;
    background: url(../images/game\ fail.jfif) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    z-index: 0;
}
#again_enter{
    z-index: 1;
    position: absolute;
    left: 180px;
    bottom: 32px;
    width: 242px;
    height: 85px;
    border-radius: 20px;
   cursor: pointer;
}
#game_win{
    position:absolute;
    width: 600px;
    height: 600px;
    right: 0%;
    display: none;
    background: url(../images/gamewin.png) no-repeat;
    background-size: 100% 100%;
}
.win{
    background-color: rgba(243, 246, 244);
    position: absolute;
    width: 100%;
    height: 420px;
    background-color: rgba(243, 246, 244);
}
.imagewin{
    background: url(../images/win.png) no-repeat;
    background-size: 100% 100%;
    width: 200px;
    height: 90px;
    position: absolute;
    left: 195px;
    top: 220px;
}
#return{
    position: absolute;
    width: 196px;
    height: 60px;
    border-radius: 20px;
    bottom: 106px;
    left: 200px;
    cursor: pointer;
}